## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [ ]:
s = "Hi there dad!"
s.split()

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
print("The diameter of {} is {} kilometers.".format("Earth",12742))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
str=lst[3][1][2]
str[0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
dic=d['k1'][3]
dic['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [93]:
'''
TUPLE:
* Tuples are immutable.
* Tuples use parenthesis() to define its elements.

LIST:
* List is mutable.
* List use square brackets[] to define its elements.


'''

'\nTUPLE:\n* Tuples are immutable.\n* Tuples use parenthesis() to define its elements.\n\nLIST:\n* List is mutable.\n* List use square brackets[] to define its elements.\n\n\n'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
str="user@domain.com"

In [ ]:
x=str.split("@")
x[-1]

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def fun(str):
 x=str.split()
 for word in x:
     if word=='dog' or word=="dog," or word=="dog." or word==".dog" or word == ",dog":
        return True 
 return False

In [ ]:
str="dog is a domestic animal"
fun(str)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def fun(str):
 x=str.split()
 c=0
 for word in x:
      if word=='dog' or word=="dog," or word=="dog." or word==".dog" or word == ",dog":
        c=c+1
 return c;

In [ ]:
str="dog is a domestic animal. dog has 4 legs."
fun(str)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(85,0)

'Big Ticket'

In [ ]:
caught_speeding(70,1)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
lst=[1000,5000,3000,2000,4000,8000]
sum=0
for i in lst:
  sum+=i
print("total salary expenditure:",sum)

total salary expenditure: 23000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
d1={"Empid":1234, "Empname":"P Sharon Blessy", "Basicpay":100000}

In [ ]:
d2={"DeptName":"ECE", "DeptId":10}

In [91]:
d3=d1.copy()
d3.update(d2)

In [92]:
print(d3)

{'Empid': 1234, 'Empname': 'P Sharon Blessy', 'Basicpay': 100000, 'DeptName': 'ECE', 'DeptId': 10}